<?xml version="1.0" encoding="utf-8"?>
<configuration remark="DefaultRoute">
  <route urlConstraint="^news/search/((?&lt;page&gt;[1-9]\d{0,8})/)?$" viewPath="搜索/newssearch.cshtml" httpcacheSolutionId="0" columnId="0" title="帮助搜索" keywords="" description="" remark="新闻搜索页面">
  </route>
  <route urlConstraint="^news/tag-(?&lt;tagId&gt;[1-9]\d{0,8})/((?&lt;page&gt;[1-9]\d{0,8})/)?$" viewPath="标签相关/tagnewslist.cshtml" title="" keywords="" description="" httpcacheSolutionId="0" remark="新闻标签列表页" />
  <route urlConstraint="^product/search/((?&lt;page&gt;[1-9]\d{0,8})/)?$" viewPath="搜索/productsearch.cshtml" title="" keywords="" description="" httpcacheSolutionId="0" remark="产品搜索" />
</configuration>