@charset "UTF-8";

body{
	font-size:16px;
	color:black;
}
.news_title{
	font-size: 20px;
    color: #e7290f;
    width: 100%;
    float: left;
    font-weight: 600;
}
.news_title h1{
	font-size: 20px;
    color: #e7290f;
    width: 50%;
    float: left;
    font-weight: 600;
}
.news_title a{
	display: inline-block;
    float: right;
    text-align: right;
    color: #ff8c00;
    cursor: pointer;
    font-size:14px;
}

.news-list li.item-first h1 {font-size: 2rem;_font-size: 20px;}