@{
    int columnId = Html.CurrentColumnId();
    string content = Html.ColumnContentData().Content; //获取栏目的自定义内容
}
<div class="container padding-top-20">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("subNavPartial")
        </div>
        <div class="col-md-9">
            @Html.Partial("BreadcrumbPartial")
            <div class="line-height-2-5 padding-top-30">
                @Html.Raw(content)
                <!--需要先引用以下js文件，并保证每个页面只引用一次,多余脚本代码请自行优化或删除-->
                <link rel="stylesheet" href="/Incs/elementUi/2.13/element-ui.css" />
                <script src="/Incs/vue/2.6.11/vue.js" type="text/javascript"></script>
                <script src="/Incs/elementUi/2.13/element-ui.js" type="text/javascript"></script>
                <script src="/FrameUi/1.0/basic.js" type="text/javascript"></script>
                <script src="/FrameUi/1.0/ui.js" type="text/javascript"></script>
                <script src="/FrameUi/1.0/vueExtend.js" type="text/javascript"></script>
                <script src="/FrameUi/1.0/validateForm.js" type="text/javascript"></script>
                <style>
                    .el-form-item__content .edui-default {
                        line-height: 20px;
                    }
                </style>
                <div id="formBody">
                    <el-form label-width="80px" label-position="left">
                        
                        <el-form-item label="留言标题*">
                            <el-input type="text" ref="Title" v-model="Title" maxlength="150" class="" v-validate="{data:Title,dataType:'*',min:1,nullMsg:'留言标题不能为空!',ignoreHidden:true}"></el-input>

                            <span class="help-block"></span>
                        </el-form-item>

                        <el-form-item label="留言内容*">
                            <el-input ref="Content" type="textarea" v-model="Content" class="" :autosize="{ minRows:4, maxRows:8}" v-validate="{data:Content,dataType:'*',min:1,nullMsg:'留言内容不能为空!',ignoreHidden:true}"></el-input>
                            <span class="help-block"></span>
                        </el-form-item>


                        <el-form-item label="验证码*">
                            <el-input v-model="verificationCode" maxlength="50" placeholder="验证码" v-validate="{data:verificationCode,dataType:'*',focusTarget:'#verificationCode',nullMsg:'请填写验证码!'}">
                                <template slot="append">
                                    <div style="width:100px"><ui-verification-code-image src="/E/VerificationCode/?width=100&height=30"></ui-verification-code-image></div>
                                </template>
                            </el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" size="small" v-on:click="postSubmit">提交</el-button>
                        </el-form-item>
                    </el-form>
                </div>
                <script type="text/javascript">
                        var formModel ={"Id":"","ColumnId":"","State":"","IsGood":"","IsHot":"","IsTop":"","PublishFrom":"","IsOnline":"","IsExpire":"","HasThumbnail":"","Uid":"","Username":"","Clicks":"","Title":"","Thumbnail":"","Content":"","Thedate":""}
                        formModel.Guid = "@Html.Guid()";
                        formModel.verificationCode = "";
                        //提交前执行
                        function beforeSubmitExecute() {

                            return true;
                        }
                        var vue= new Vue({
                              el: "#formBody",
                              data: formModel,
                              methods: {
                                  postSubmit: function () {
                                        var validated = this.validateForm({ beforeSubmit:function (){ return beforeSubmitExecute() }});//表单验证
                                        if (validated)
                                        {
                                            this.submit({ url: "/e/InfoData/Add?table=feedback", data: formModel,showSuccessMsg:false,success: function () { callBack() }});
                                        }
                                  },
                              },
                        });
                        function callBack() {
                          alert("留言成功,感谢您的支持!");
                          location.href = location.href
                       }
                </script>

            </div>
        </div>
    </div>
</div>